body {
  margin: 0;
  background: url("https://images.unsplash.com/photo-1534850336045-c6c6d287f89e") no-repeat center center fixed;
  background-size: cover;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
